{% extends 'base.html.twig' %}
{% block title %}{{ blog.title }}{% endblock %}
{% block body %}
    <div class="container-fluid mx-auto">
        <div class="jumbotron mt-4">
            <h1 class="display-4">{{blog.title}} - {{blog.category.name}}</h1>
            <p class="lead">{{blog.shortDescription}}</p>
            <hr class="my-4">
            <p></p>
            {% if blog.image %}
            {# immagine trovata, visualizzala #}
            <img src="/img/blogs/{{blog.image}}" class="" alt="{{blog.title}}">
            {% else %}
            {# immagine non trovata, visualizza immagine default #}
            <img src="/img/blogs/default.png" class="img-fluid rounded" alt="Default image">
            {% endif %}
            <p class="mt-2">{{blog.body}}</p>
        </div>
    </div>
{% endblock %}