<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{path('app_main_index')}}">Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{path('app_main_index')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% for category in categories.getAll %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_blog_list', {'category': category.name}) }}">{{category.name}}</a>
                    </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="btn btn-primary ml-2" href="{{ path('app_blog_create') }}">Write a new blog</a>
                </li>
            </ul>
            {% if app.user %}
            <div class="dropdown">
                
                <a class="dropdown-toggle text-white text-decoration-none" id="dropdownMenuToggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if app.user.profilePicture %}
                    <img class="rounded-circle" src="/img/users/{{app.user.profilePicture}}" width="32px" height="32px" >
                {% else %}
                    <img class="rounded-circle" src="/img/users/default.png" width="32px" height="32px" >
                {% endif %}
                    
                </a>
                
                <div class="dropdown-menu dropdown-menu-left dropdown-menu-lg-right" aria-labelledby="dropdownMenuToggle">
                    {# TODO: implement profile and blogs pages #}
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">My blogs</a>
                    <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Logout</a>
                </div>
            </div>
            {% else %}
            <a class="btn btn-success my-2 mr-sm-2 my-sm-0" href="{{ path('app_login') }}">Login</a>
            <a class="btn btn-primary my-2 my-sm-0" href="{{ path('app_register') }}">Register</a>
            {% endif %}
        </div>
    </nav>
</header>