{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{blog.title}}</h1>
    <p class="text-muted">{{blog.category.name}}</p>
    <p class="text-muted">{{blog.shortDescription}}</p>
    {% if blog.image %}
        {# immagine trovata, visualizzala #}
        <img src="../{{blog.image}}" alt="{{blog.title}}">
    {% else %}
        {# immagine non trovata, visualizza immagine default #}
        <img src="../default.png" alt="Default image">
    {% endif %}
    <p>{{blog.body}}</p>
{% endblock %}